<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Mixer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        ::-webkit-scrollbar{
            width:10px;
            background-color: #00000000;
        }
        ::-webkit-scrollbar-thumb{
            border-radius: 18px;
            background-color: #1DB954;
        }
        ::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        body{
            font-family: 'Poppins', sans-serif;
        }
        a{
            color: black !important;
            text-decoration: none;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        h2,h3{
            color: #1DB954;
            font-weight: bold;
        }
        .playlist-play:hover{
            box-shadow: 0 0 4px black !important;
        }
        a:hover{
            background-color: #1DB954;
            transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
    </style>
</head>
<body>
    <div style="background-color: black;color: #1DB954;width: 100%;
    position: fixed;
    top: 0;
    left: 0;" class="text-center pt-1 shadow">
        <h1 class="mb-3">Music Mixer</h1>
    </div>
    <div style="margin-top: 100px;" class="container-fluid">
        <div class="container">
            <div class="container">
                <div class="row mb-4">
                    <div class="container shadow rounded-4" style="    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: center;
                ">
                        <img src="<%- featuredPlaylist.img.url %>" width="200" height="200" style="border-radius: 10%;" class="m-3">
                        <div style="margin-right: auto;">
                            <span>Featured Playlist</span> <br>
                            <span class="fs-1"><%- featuredPlaylist.name %></span>
                        </div>
                        <a class="fs-4 rounded-pill shadow-sm p-3 m-4 playlist-play" style="background-color: #1DB954;color: aliceblue;" target="_blank" href="https://open.spotify.com/playlist/<%- featuredPlaylist.id %>">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col mx-auto">
                    <div style="justify-content: center;" class="container text-center mx-auto p-2 shadow rounded-4">
                        <h3 class="mt-2">Fav Artists</h3>
                        <div class="row mx-auto">
                            <% topArtist.forEach(element => { %>
                                <a target="_blank" href="https://open.spotify.com/artist/<%- element.id %>" class="col text-center p-2 m-4 shadow rounded-5">
                                   <img class="m-1" src="<%- element.img.url %>" width="100" height="100" style="border-radius: 50%;" >
                                   <p class="name"><%- element.name %></p>
                                </a>
                               <% }) %>
                        </div>
                    </div>
                    <div class="container text-center mx-auto p-2 shadow rounded-4 my-4">
                        <span class="m-3" style="color: #1DB954;">#quote</span><br><br>
                        <span class="fs-5" id="quotes-container">
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="container text-center mx-auto">
                        <div class="container mb-3 shadow rounded-4 p-4">
                            <h3>Fav Genre</h3>
                            <div class="genre">
                                <% topGenre.forEach(element => { %>
                                <a target="_blank" href="https://open.spotify.com/genre/<%- element %>" class="p-2 shadow-sm rounded-4 m-2" style="text-transform: capitalize;display: inline-block;padding: 0 12px;"><%- element %></a>
                                <% }) %>
                            </div>
                        </div>
                        <div class="container text-center shadow rounded-4 p-4">
                            <h3>Top Tracks</h3>
                            <div class="tracks">
                                <% topTracks.forEach(track => { %>
                                 <a target="_blank" href="https://open.spotify.com/track/<%- track.url.split(':')[2] %>" class="rounded-pill shadow-sm text-truncate" style="display: flex;
                                 flex-wrap: nowrap;
                                 align-content: center;
                                 align-items: center;
                                 flex-direction: row;margin: 12px;padding: 8px;margin-left: 4pc;margin-right: 4pc;">
                                    <img src="<%- track.img %>" width="50" height="50" style="border-radius: 50%;margin-right: 8px;">
                                    <span style="font-size: 24px; text-transform: capitalize;"><%- track.name %></span>
                                 </a>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (recommendedSongs) { %>
                <div class="row mx-4 mb-5 mt-4">
                    <div class="col text-center shadow rounded-4 p-4">
                        <h2>Recommended Songs</h2>
                        <% recommendedSongs.forEach(track => { %>
                            <a target="_blank" href="https://open.spotify.com/track/<%- track.url.split(':')[2] %>" class="rounded-pill shadow-sm rec-songs" style="display: flex;text-decoration: none;
                            flex-wrap: nowrap;
                            align-content: center;
                            align-items: center;
                            flex-direction: row;margin: 12px;padding: 8px;margin-left: 8pc;margin-right: 8pc;">
                               <img src="<%- track.img.url %>" width="50" height="50" style="border-radius: 50%;margin-right: 8px;">
                               <span style="font-size: 24px;"><%- track.name %> - <%- track.artist %></span>
                            </a>
                        <% }) %> <br>
                        <a class="fs-5 rounded-pill shadow-sm p-2 playlist-play refButton" style="background-color: #1DB954;color: aliceblue; cursor: pointer;width: 200px;display: inline-block;" target="_blank" onclick="refressh()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 7.59375 3 L 9.0625 5 L 13 5 C 16.324219 5 19 7.675781 19 11 L 19 15 L 16 15 L 20 20.46875 L 24 15 L 21 15 L 21 11 C 21 6.59375 17.40625 3 13 3 Z M 4 3.53125 L 0 9 L 3 9 L 3 13 C 3 17.40625 6.59375 21 11 21 L 16.40625 21 L 14.9375 19 L 11 19 C 7.675781 19 5 16.324219 5 13 L 5 9 L 8 9 Z"/></svg>&nbsp;Refresh Now</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <script>
        const quoteArray = ["Music is the divine way to tell beautiful, poetic things to the heart.","Music washes away from the soul the dust of everyday life.","To live without my music would be impossible to do, 'cause in this world of troubles, my music pulls me through.","Music can change the world because it can change people.","Music is the universal language of mankind.","Where words fail, music speaks.","Music is the divine way to tell beautiful, poetic things to the heart.","Music is the art which is most nigh to tears and memory.","Music is the soundtrack of your life.","Music is the divine way to tell beautiful, poetic things to the heart.","Music is the wine that fills the cup of silence.","Music is the strongest form of magic.","Music is the divine way to tell beautiful, poetic things to the heart."]
        const element = document.querySelector("#quotes-container")
        element.innerHTML = quoteArray[Math.floor(Math.random()*quoteArray.length)]

        function refressh(){
            const reffElements = document.querySelectorAll('.rec-songs')
            const refButton = document.querySelector('.refButton')
            const innHt = refButton.innerHTML
            refButton.innerHTML =" Loading..."
            fetch('/refresh').then(res => res.json()).then(res => {
                reffElements.forEach((el,index) => {
                    const temp = res[index].url.split(':')[2]
                    el.childNodes[1].src = res[index].img.url
                    el.childNodes[3].innerHTML = res[index].name + "-" + res[index].artist
                    el.href = `https://open.spotify.com/track/${temp}`

                })
                refButton.innerHTML = innHt
            }).catch(err => console.log(err))
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>