<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Mixer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body{
            font-family: 'Poppins', sans-serif;
        }
        a{
            color: black !important;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center pt-1">
            <h1 class="mb-3">Music Mixer</h1>
        </div>
        <div class="container">
            <div class="row mb-4">
                <div class="col-6 mx-auto">
                    <div class="container text-center mx-auto">
                        <h3 >Fav Artists</h3>
                        <div class="row mx-auto">
                            <% topArtist.forEach(element => { %>
                                <div class="col-4 text-center p-2 m-4 shadow-lg rounded-5">
                                   <img src="<%- element.img.url %>" width="100" height="100" style="border-radius: 50%;" >
                                   <p class="name"><%- element.name %></p>
                                </div>
                               <% }) %>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="container text-center mx-auto">
                        <div class="container mb-3">
                            <h3>Fav Genre</h3>
                            <div class="genre">
                                <% topGenre.forEach(element => { %>
                                <span class="p-2 shadow-sm rounded-4 mx-2" style="text-transform: capitalize;display: inline-block;padding: 0 12px;"><%- element %></span>
                                <% }) %>
                            </div>
                        </div>
                        <div class="container text-center">
                            <h3>Top Tracks</h3>
                            <div class="tracks">
                                <% topTracks.forEach(track => { %>
                                 <a target="_blank" href="https://open.spotify.com/track/<%- track.url.split(':')[2] %>" class="rounded-pill shadow-sm text-truncate" style="display: flex;
                                 flex-wrap: nowrap;
                                 align-content: center;
                                 align-items: center;
                                 flex-direction: row;margin: 12px;padding: 8px;margin-left: 8pc;margin-right: 8pc;">
                                    <img src="<%- track.img %>" width="50" height="50" style="border-radius: 50%;margin-right: 8px;">
                                    <span style="font-size: 24px; text-transform: capitalize;"><%- track.name %></span>
                                 </a>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (recommendedSongs) { %>
                <div class="row">
                    <div class="col text-center">
                        <h2>Recommended Songs</h2>
                        <% recommendedSongs.forEach(track => { %>
                            <a target="_blank" href="https://open.spotify.com/track/<%- track.url.split(':')[2] %>" class="rounded-pill shadow-sm" style="display: flex;text-decoration: none;
                            flex-wrap: nowrap;
                            align-content: center;
                            align-items: center;
                            flex-direction: row;margin: 12px;padding: 8px;margin-left: 8pc;margin-right: 8pc;">
                               <img src="<%- track.img.url %>" width="50" height="50" style="border-radius: 50%;margin-right: 8px;">
                               <span style="font-size: 24px;"><%- track.name %> - <%- track.artist %></span>
                            </a>
                        <% }) %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>